* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
.container {
  width: 1140px;
  height: 980px;
  display: grid;
  grid-template-rows: 119px 1fr 315px;
  margin: 0 auto;
}

.header {
  background-color: black;
  display: grid;
  grid-template-columns: 140px 52px 503px 137px 143px 47px 120px;
  margin-top: 46px;
}

.logo {
  display: grid;
  grid-template-rows: 24px 24px;
  row-gap: 20px;
}

.largeLogo {
  display: grid;
  justify-content: center;
  align-content: center;
}

.largeLogo img {
  padding-bottom: 2px;
}

.brand {
  display: grid;
  grid-template-columns: 35px 97px;
  column-gap: 8px;
  margin-top: 11px;
}

.logoText {
  display: grid;
  margin-top: 1px;
}

.logoText p {
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #e4e5ea;
}

.nav a {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #e4e5ea;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
  height: 19px;
}

.number p {
  color: #e4e5ea;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 15px;
}

.shareBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

content {
  background-color: blue;
  display: grid;
  grid-template-columns: 362px 1fr 299px;
}

.firstBlock {
  display: grid;
  background-color: coral;
  grid-template-rows: 116px 58px 44px;
  margin-top: 94px;
}

.textOne {
  background-color: pink;
}

.text {
  width: 362px;
  height: 116px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

.textTwo {
  background-color: yellow;
}

.textThree {
  background-color: darkgreen;
}

footer {
  background-color: blueviolet;
}
